@font-face {
    font-family: 'scrapbook_editor';
    src: url('fonts/scrapbook_editor.eot');
    src: url('fonts/scrapbook_editor.eot#iefix') format('embedded-opentype'),
    url('fonts/scrapbook_editor.woff2') format('woff'),
    url('fonts/scrapbook_editor.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.ce-block__content, .ce-toolbar__content {
    max-width: calc(100% - 80px) !important;
}

.cdx-block {
    max-width: 100% !important;
}
